Django==1.4.3
South==0.8.4
boto==2.18.0
distribute==0.6.24
dj-database-url==0.2.2
django-allauth==0.14.2
django-s3-folder-storage==0.1
django-storages==1.1.8
gunicorn==18.0
httplib2==0.8
newrelic==2.6.0.5
oauth2==1.5.211
oauthlib==0.6.0
psycopg2==2.5.1
python-openid==2.2.5
requests==2.0.1
requests-oauthlib==0.4.0
sanction==0.4
