Django==1.4.2
South==0.7.6
boto==2.6.0
distribute==0.6.24
dj-database-url==0.2.1
django-allauth==0.8.2
django-s3-folder-storage==0.1
django-storages==1.1.5
gunicorn==0.16.1
-e git+https://github.com/evax/httplib2.git#egg=httplib2
newrelic==1.8.0.13
oauth2==1.5.211
psycopg2==2.4.5
python-openid==2.2.5
sanction==0.1.4
wsgiref==0.1.2
