{% load static %}

<link rel="stylesheet" type="text/css" href="{% static "css/github.css" %}">
<div class="github-issue">
  <div class=""></div>
  <h2><a href="{{ issue.repo.get_absolute_url }}" target="_blank">{{ issue.repo }}</a></h2>
  <a href="{{ issue.get_absolute_url }}" target="_blank">
    <h3>#{{ issue.number }} {{ issue.title }}</h3>
    <p>Reported {{ issue.created_at|timesince }} ago</p>
  </a>
  <a class="next-issue" href="javascript:window.getIssue()">Next issue<i class="icon-chevron-right"></i></a>
</div>
