{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Freudian Commits{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/auth-buttons.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="nav-collapse collapse">
            <a class="brand" href="/">Freudian Commits</a>
            <ul class="nav">
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="hero-unit">
        {% block content %}{% endblock %}
      </div>
    </div>
    <footer class="container">
      By <a href="http://github.com/michaelmior">@michaelmior</a>
      <script data-gittip-username="michaelmior" data-gittip-widget="button" src="//gttp.co/v1.js"></script>
    </footer>
  </body>
</html>
